@define-mixin atSmall{
    @media( min-width: 530px){
        @mixin-content;
    }
}

@define-mixin atMedium{
    @media( min-width: 800px){
        @mixin-content;
    }
}

@define-mixin atLarge{
    @media( min-width: 1200px){
        @mixin-content;
    } 
}

/* Floating elements removes them from the flow of the page */
/* To bring them back into the flow of the page, you clear them */
/* Using the psudo selector ::after allows you to add empty content and clear
    without polluting the html */
@define-mixin clearfix{
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}