.reveal-item{
    opacity: 0;
    transform: scale(1.15);
    transition: opacity .7s ease-in-out, transform .5s ease-in-out;
    
    &--is-visible{
        opacity: 1;
        transform: scale(1);
    }
}